body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header{
      width: 100%;
      height: 40px;
      background-color: #28A745;
      display: flex;
      justify-content:space-evenly;
      align-items: center;
}

.header-link  a{
                   text-decoration: none;
                   padding-left: 40px;
                   color: white;
                   font-size: 20px;
}
.header-social a{

                   text-decoration: none;
                   padding-left: 40px;
                   color: white;
                   font-size: 18px;
}
.header-social a:hover{
    color: blanchedalmond;
    font-size: 20px;
   
      
}
.links{

     width: 100%;
      height: 40px;
      background-color:#FFFFFF;
      display: flex;
      justify-content:space-evenly;
      align-items: center;
      
}
.links-logo{
        align-items: center;
        display: flex;
        
        padding-top: 10px;
        margin-top: 30px;
}
.links-logo img{
                  width: 150px;
                  height: 50px;
}
.main{

    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.main img{
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0;
          animation: slider 20s infinite;
}
.main img:nth-child(1)
 {
    animation-delay: 0s;
 }
 .main img:nth-child(2)
 {
    animation-delay: 2s;
 }
 .main img:nth-child(3)
 {
    animation-delay: 4s;
 }
 .main img:nth-child(4)
 {
    animation-delay: 6s;
 }
 .main img:nth-child(5)
 {
    animation-delay: 8s;
 }
 @keyframes slider{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
 }
/* dropdowns here */
.links-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown{
    position: relative;
    width: 150px;
}
.dropdown-content{
    z-index: 99;
    position: absolute;
    display: none;
    margin-top: 50px;
    background-color: white;
    
}
.dropdown-content a{
    display: block;
    padding: 10px;
   color: #271f1f;
    text-decoration: none;
   
}

.dropbtn{
    
     color: white;
     padding: 12px;
     cursor: pointer ;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.links-block a{
    padding-left: 40px;
    text-decoration: none;
}
.dropbtn{
      text-transform: uppercase;
      color: black;

}
.dropbtn:hover{
    color:rgb(11, 219, 11) ;
}
.dropdown-content a{

    line-height: 1.6;
    color: black;
  display: inline;
  
  font-size: 22px;

}
.regular-link{

        text-transform: uppercase;
        color: black;
}
.regular-link:hover{
    color:rgb(11, 219, 11) ;
}
.section{
    margin-top: 20px;
    width: 100%;
    height: 30vh;
    background-color:#F4F4F4;
    display: flex;
    align-items: center;
}
.section-1 h1{
      padding-left: 15%;
      color: #28A745;
      font-size: 28px;
      font-weight: bold;
      padding-top: 30px;
      font-family: Arial, Helvetica, sans-serif;
}
.section-1 p{
     padding-left: 13%;
     color: #271f1f;
     font-size: 22px;
        padding-top: -50px;
        font-family: Arial, Helvetica, sans-serif;
}
.button{

    margin-left: 100PX;
    background-color: #28A544;
    width: 15%;
    height: 12vh;
    border-radius: 10px;
    
   
}
.button:hover{
    background-color: green;
}
.button a{
    text-decoration: none;
    padding-left: 29px;
    font-size: 22px;
   padding-top: 20%;
    color: white;
    
    
}
.link-a{
    margin-top: 30%;
    padding-top: 20%;
}
.section1{

    margin-top: 20px;
    width: 100%;
    height: 80vh;
    
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.section-2 {

 width: 100%;
 height: 100vh;
}
.section-2 h1{
    padding-top: 40px;
    padding-left: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.section-2 p{
               line-height: 1.8;
               display: inline;
               padding-left:140px;
               font-family: Arial, Helvetica, sans-serif;
               color: #ada6a6;
}
.section-3 img{
         width: 80%;
         height: 60vh;
         padding-right: 80px;
}
.section3{

        margin-top: 20px;
    width: 100%;
    height: 60vh;
background-image: url(img/2.webp);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}
.section-4{
    width:45%;
    height:59vh;
   
   
    background-color: #EFEFEF;
    margin-left: -2%;
    border-radius: 10%;
    position: absolute;
    border: 4px solid green;
    

}
.section-4 h1
{

     padding-top: 40px;
    padding-left: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #28A544;
}
.section-4 p{
              line-height: 1.8;
               display: inline;
               padding-left:140px;
               font-family: Arial, Helvetica, sans-serif;
               color:black;
               font-weight: bold;
            font-size: 16px;
}
.section4{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.section-8 img
{
    margin-top: 30%;
    width: 180px;
    height: 130px;
}
.section-7 img
{
    margin-top: 15%;
    width: 180px;
    height: 130px;
}
.section-6 img
{
    margin-top: 20%;
    width: 180px;
    height: 130px;
}
.section-5
{
    margin-left: 5%;
}
.section-5 img
{
    margin-top: 30%;
    width: 180px;
    height: 130px;
}
.section-5 p {
     color: #8a8484;
     font-size: 18px;
     font-weight: bold;

}
.section-5 h2:hover
{
     color: #28A544;
}
.section-6 h2:hover
{
     color: #28A544;
}
.sub-section{
    width: 60%;
    height: 50vh;
}
.sub-section1{
    width: 70%;
    height: 50vh;
}
.section-6 p{
    color: #8a8484;
     font-size: 18px;
     font-weight: bold;
   

}
.section-7 p{
         color: #8a8484;
     font-size: 18px;
     font-weight: bold;
    
     

}
.section-7 h2{
     text-align: center;
}
.section-7 h2:hover{
          color: #28A544;
}
.section-8 p{

      color: #8a8484;
     font-size: 18px;
     font-weight: bold;
   
     

}
.section-8 h2{
                        text-align: center;
}

.section-8 h2:hover{
    
    color: #28A544;
}
.section5{
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
}
 .section-9
{
      background-color:#F4F4F4;
      width: 65%;
      height: 50vh;
    
      border-radius:8%;
  

}
.section-9 p{
       padding-left: 10%;
        color: #8a8484;
     font-size: 18px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
}
.section-9 h2{
           text-align: center;
           color: #28A544;
           font-weight: bold;
           font-size: 28px;
           font-family: Arial, Helvetica, sans-serif;
}
.section-10{
  
    width: 30%;
    height: 50vh;
    background-image: url(img/19.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-link a:hover{
                         color: #271f1f;
}