*{
    margin: 0;
    padding: 0;
}
.header{
    width: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding-top:20px;
    border-radius: 10PX;
    line-height: normal;   
}



.header-logo img{
              width:40vh;
              height:20h;
              text-align: left;
}
.nav-1{
    text-align: right;
    background-color: rgb(30, 110, 84);
    color: white;
   
     width:auto;
     height: 8vh;


}
.nav-1 a{
     text-decoration: none;
 
     cursor: pointer;
     color: white;
     padding: 10px 16px;
    font-size:16px;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
}
  .nav-2{

   color: white;
   padding-top:10px;


  }

.nav-2 a{
               text-decoration: none;
               padding-top: 10px 20px;
               color: rgb(39, 27, 27); 
               padding-left:25px;
}

.drop-1{
         width: 16%;
         height: 45vh;
         background-color:rgb(17, 0, 0);
         border-radius: 10px;
         margin-top:60px;
         margin-left: 35%;
         margin-top:-0.005px;
         display: none;
}
.drop-1 a{
          color:#ebf0f0e7;
          padding-left: 40px;
          padding-top:20px;
          text-decoration: none;
          
          

}

.drop-2{
           width: 16%;
         height: 30vh;
         background-color:rgb(102, 100, 100);
         border-radius: 10px;
         margin-top:60px;
         margin-left: 50%;
         margin-top:-20%;
         display: none;
}
.drop-2 a{
           color:#ebf0f0e7;
          padding-left: 40px;
          padding-top:20px;
          text-decoration: none;
          padding-top: 10px;
}

.drop-3{
           width: 15%;
         height: 30vh;
         background-color:rgb(20, 1, 1);
         border-radius: 10px;
         margin-top:60px;
         margin-left: 72%;
         margin-top:-200PX;
         display: none;

}
.drop-3 a{
           color:#ebf0f0e7;
          padding-left: 40px;
          padding-top:20px;
          text-decoration: none;
          padding-top: 10px;
}

.drop-4{
           width: 14%;
         height: 30vh;
         background-color:rgb(20, 1, 1);
         border-radius: 10px;
         margin-top:60px;
         margin-left: 88%;
         margin-top:-200PX;
         display: none;

}
.drop-4 a{
           color:#ebf0f0e7;
          padding-left: 40px;
          padding-top:20px;
          text-decoration: none;
          padding-top: 10px;
}




body{
   background-color: #f2f2f2;
   padding-right: 10px;
}
p{

  text-align: center;
  gap: 10px;
}